#content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#content.light {
    color: #000000;
}
#content.dark {
    color: #ffffff;
}
input, label {
    user-select: none;
}

body {
  background-image: url(images/double-bubble-outline.png);
  animation: animatedBackground 60s linear infinite;
}
body.dark {
    background-image: url(images/double-bubble-outline-dark.png);
}
@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% -100%;
  }
}